/* Figma Styles of your File */
:root {
  /* Colors */
  --primary: #ffffff;
  --primary-1: #363738;
  --secondary: #f5f5f5;
  --secondary-1: #fefaf1;
  --bg: #ffffff;
  --text: #fafafa;
  --text-1: #7d8184;
  --text-2: #000000;
  --button: #000000;
  --secondary-2: #db4444;
  --button-1: #00ff66;
  --button-2: #db4444;
  --hover-button: #e07575;
  --hover-button: #a0bce0;
  --_30-1-px: rgba(0, 0, 0, 0.3);

  /* Fonts */
  --heading-110-px-bold-font-family: Inter-Bold, sans-serif;
  --heading-110-px-bold-font-size: 110px;
  --heading-110-px-bold-line-height: 115px;
  --heading-110-px-bold-font-weight: 700;
  --heading-110-px-bold-font-style: normal;
  --heading-110-px-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --heading-110-px-semi-bold-font-size: 110px;
  --heading-110-px-semi-bold-line-height: 115px;
  --heading-110-px-semi-bold-font-weight: 600;
  --heading-110-px-semi-bold-font-style: normal;
  --heading-110-px-medium-font-family: Inter-Medium, sans-serif;
  --heading-110-px-medium-font-size: 110px;
  --heading-110-px-medium-line-height: 115px;
  --heading-110-px-medium-font-weight: 500;
  --heading-110-px-medium-font-style: normal;
  --heading-110-px-regular-font-family: Inter-Regular, sans-serif;
  --heading-110-px-regular-font-size: 110px;
  --heading-110-px-regular-line-height: 115px;
  --heading-110-px-regular-font-weight: 400;
  --heading-110-px-regular-font-style: normal;
  --heading-90-px-bold-font-family: Inter-Bold, sans-serif;
  --heading-90-px-bold-font-size: 90px;
  --heading-90-px-bold-line-height: 98px;
  --heading-90-px-bold-font-weight: 700;
  --heading-90-px-bold-font-style: normal;
  --heading-90-px-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --heading-90-px-semi-bold-font-size: 90px;
  --heading-90-px-semi-bold-line-height: 98px;
  --heading-90-px-semi-bold-font-weight: 600;
  --heading-90-px-semi-bold-font-style: normal;
  --heading-90-px-medium-font-family: Inter-Medium, sans-serif;
  --heading-90-px-medium-font-size: 90px;
  --heading-90-px-medium-line-height: 98px;
  --heading-90-px-medium-font-weight: 500;
  --heading-90-px-medium-font-style: normal;
  --heading-90-px-regular-font-family: Inter-Regular, sans-serif;
  --heading-90-px-regular-font-size: 90px;
  --heading-90-px-regular-line-height: 98px;
  --heading-90-px-regular-font-weight: 400;
  --heading-90-px-regular-font-style: normal;
  --heading-64-px-bold-font-family: Inter-Bold, sans-serif;
  --heading-64-px-bold-font-size: 64px;
  --heading-64-px-bold-line-height: 68px;
  --heading-64-px-bold-font-weight: 700;
  --heading-64-px-bold-font-style: normal;
  --heading-64-px-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --heading-64-px-semi-bold-font-size: 64px;
  --heading-64-px-semi-bold-line-height: 68px;
  --heading-64-px-semi-bold-font-weight: 600;
  --heading-64-px-semi-bold-font-style: normal;
  --heading-64-px-medium-font-family: Inter-Medium, sans-serif;
  --heading-64-px-medium-font-size: 64px;
  --heading-64-px-medium-line-height: 68px;
  --heading-64-px-medium-font-weight: 500;
  --heading-64-px-medium-font-style: normal;
  --heading-64-px-regular-font-family: Inter-Regular, sans-serif;
  --heading-64-px-regular-font-size: 64px;
  --heading-64-px-regular-line-height: 68px;
  --heading-64-px-regular-font-weight: 400;
  --heading-64-px-regular-font-style: normal;
  --heading-54-px-bold-font-family: Inter-Bold, sans-serif;
  --heading-54-px-bold-font-size: 54px;
  --heading-54-px-bold-line-height: 64px;
  --heading-54-px-bold-font-weight: 700;
  --heading-54-px-bold-font-style: normal;
  --heading-54-px-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --heading-54-px-semi-bold-font-size: 54px;
  --heading-54-px-semi-bold-line-height: 64px;
  --heading-54-px-semi-bold-font-weight: 600;
  --heading-54-px-semi-bold-font-style: normal;
  --heading-54-px-medium-font-family: Inter-Medium, sans-serif;
  --heading-54-px-medium-font-size: 54px;
  --heading-54-px-medium-line-height: 68px;
  --heading-54-px-medium-font-weight: 500;
  --heading-54-px-medium-font-style: normal;
  --heading-54-px-regular-font-family: Inter-Regular, sans-serif;
  --heading-54-px-regular-font-size: 54px;
  --heading-54-px-regular-line-height: 64px;
  --heading-54-px-regular-font-weight: 400;
  --heading-54-px-regular-font-style: normal;
  --heading-48-px-bold-font-family: Inter-Bold, sans-serif;
  --heading-48-px-bold-font-size: 48px;
  --heading-48-px-bold-line-height: 52px;
  --heading-48-px-bold-font-weight: 700;
  --heading-48-px-bold-font-style: normal;
  --heading-48-px-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --heading-48-px-semi-bold-font-size: 48px;
  --heading-48-px-semi-bold-line-height: 60px;
  --heading-48-px-semi-bold-font-weight: 600;
  --heading-48-px-semi-bold-font-style: normal;
  --heading-48-px-medium-font-family: Inter-Medium, sans-serif;
  --heading-48-px-medium-font-size: 48px;
  --heading-48-px-medium-line-height: 60px;
  --heading-48-px-medium-font-weight: 500;
  --heading-48-px-medium-font-style: normal;
  --heading-48-px-regular-font-family: Inter-Regular, sans-serif;
  --heading-48-px-regular-font-size: 48px;
  --heading-48-px-regular-line-height: 52px;
  --heading-48-px-regular-font-weight: 400;
  --heading-48-px-regular-font-style: normal;
  --heading-36-px-bold-font-family: Inter-Bold, sans-serif;
  --heading-36-px-bold-font-size: 36px;
  --heading-36-px-bold-line-height: 30px;
  --heading-36-px-bold-font-weight: 700;
  --heading-36-px-bold-font-style: normal;
  --heading-36-px-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --heading-36-px-semi-bold-font-size: 36px;
  --heading-36-px-semi-bold-line-height: 48px;
  --heading-36-px-semi-bold-font-weight: 600;
  --heading-36-px-semi-bold-font-style: normal;
  --heading-36-px-medium-font-family: Inter-Medium, sans-serif;
  --heading-36-px-medium-font-size: 36px;
  --heading-36-px-medium-line-height: 30px;
  --heading-36-px-medium-font-weight: 500;
  --heading-36-px-medium-font-style: normal;
  --heading-36-px-regular-font-family: Inter-Regular, sans-serif;
  --heading-36-px-regular-font-size: 36px;
  --heading-36-px-regular-line-height: 30px;
  --heading-36-px-regular-font-weight: 400;
  --heading-36-px-regular-font-style: normal;
  --heading-24-px-bold-font-family: Inter-Bold, sans-serif;
  --heading-24-px-bold-font-size: 24px;
  --heading-24-px-bold-line-height: 24px;
  --heading-24-px-bold-font-weight: 700;
  --heading-24-px-bold-font-style: normal;
  --heading-24-px-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --heading-24-px-semi-bold-font-size: 24px;
  --heading-24-px-semi-bold-line-height: 24px;
  --heading-24-px-semi-bold-font-weight: 600;
  --heading-24-px-semi-bold-font-style: normal;
  --heading-24-px-medium-font-family: Inter-Medium, sans-serif;
  --heading-24-px-medium-font-size: 24px;
  --heading-24-px-medium-line-height: 24px;
  --heading-24-px-medium-font-weight: 500;
  --heading-24-px-medium-font-style: normal;
  --heading-24-px-regular-font-family: Inter-Regular, sans-serif;
  --heading-24-px-regular-font-size: 24px;
  --heading-24-px-regular-line-height: 24px;
  --heading-24-px-regular-font-weight: 400;
  --heading-24-px-regular-font-style: normal;
  --heading-20-px-bold-font-family: Inter-Bold, sans-serif;
  --heading-20-px-bold-font-size: 20px;
  --heading-20-px-bold-line-height: 20px;
  --heading-20-px-bold-font-weight: 700;
  --heading-20-px-bold-font-style: normal;
  --heading-20-px-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --heading-20-px-semi-bold-font-size: 20px;
  --heading-20-px-semi-bold-line-height: 20px;
  --heading-20-px-semi-bold-font-weight: 600;
  --heading-20-px-semi-bold-font-style: normal;
  --heading-20-px-medium-font-family: Inter-Medium, sans-serif;
  --heading-20-px-medium-font-size: 20px;
  --heading-20-px-medium-line-height: 20px;
  --heading-20-px-medium-font-weight: 500;
  --heading-20-px-medium-font-style: normal;
  --heading-20-px-regular-font-family: Inter-Regular, sans-serif;
  --heading-20-px-regular-font-size: 20px;
  --heading-20-px-regular-line-height: 20px;
  --heading-20-px-regular-font-weight: 400;
  --heading-20-px-regular-font-style: normal;
  --heading-32-px-bold-font-family: Inter-Bold, sans-serif;
  --heading-32-px-bold-font-size: 32px;
  --heading-32-px-bold-line-height: 30px;
  --heading-32-px-bold-font-weight: 700;
  --heading-32-px-bold-font-style: normal;
  --heading-32-px-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --heading-32-px-semi-bold-font-size: 32px;
  --heading-32-px-semi-bold-line-height: 30px;
  --heading-32-px-semi-bold-font-weight: 600;
  --heading-32-px-semi-bold-font-style: normal;
  --heading-32-px-medium-font-family: Inter-Medium, sans-serif;
  --heading-32-px-medium-font-size: 32px;
  --heading-32-px-medium-line-height: 30px;
  --heading-32-px-medium-font-weight: 500;
  --heading-32-px-medium-font-style: normal;
  --heading-32-px-regular-font-family: Inter-Regular, sans-serif;
  --heading-32-px-regular-font-size: 32px;
  --heading-32-px-regular-line-height: 30px;
  --heading-32-px-regular-font-weight: 400;
  --heading-32-px-regular-font-style: normal;
  --title-24-px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --title-24-px-semibold-font-size: 24px;
  --title-24-px-semibold-line-height: 32px;
  --title-24-px-semibold-font-weight: 600;
  --title-24-px-semibold-font-style: normal;
  --title-24-px-medium-font-family: Poppins-Medium, sans-serif;
  --title-24-px-medium-font-size: 24px;
  --title-24-px-medium-line-height: 32px;
  --title-24-px-medium-font-weight: 500;
  --title-24-px-medium-font-style: normal;
  --title-24-px-regular-font-family: Poppins-Regular, sans-serif;
  --title-24-px-regular-font-size: 24px;
  --title-24-px-regular-line-height: 32px;
  --title-24-px-regular-font-weight: 400;
  --title-24-px-regular-font-style: normal;
  --title-20-px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --title-20-px-semibold-font-size: 20px;
  --title-20-px-semibold-line-height: 28px;
  --title-20-px-semibold-font-weight: 600;
  --title-20-px-semibold-font-style: normal;
  --title-20-px-medium-font-family: Poppins-Medium, sans-serif;
  --title-20-px-medium-font-size: 20px;
  --title-20-px-medium-line-height: 28px;
  --title-20-px-medium-font-weight: 500;
  --title-20-px-medium-font-style: normal;
  --title-20-px-regular-font-family: Poppins-Regular, sans-serif;
  --title-20-px-regular-font-size: 20px;
  --title-20-px-regular-line-height: 26px;
  --title-20-px-regular-font-weight: 400;
  --title-20-px-regular-font-style: normal;
  --title-16-px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --title-16-px-semibold-font-size: 16px;
  --title-16-px-semibold-line-height: 20px;
  --title-16-px-semibold-font-weight: 600;
  --title-16-px-semibold-font-style: normal;
  --title-16-px-medium-font-family: Poppins-Medium, sans-serif;
  --title-16-px-medium-font-size: 16px;
  --title-16-px-medium-line-height: 24px;
  --title-16-px-medium-font-weight: 500;
  --title-16-px-medium-font-style: normal;
  --title-16-px-regular-font-family: Poppins-Regular, sans-serif;
  --title-16-px-regular-font-size: 16px;
  --title-16-px-regular-line-height: 24px;
  --title-16-px-regular-font-weight: 400;
  --title-16-px-regular-font-style: normal;
  --title-14-px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --title-14-px-semibold-font-size: 14px;
  --title-14-px-semibold-line-height: 21px;
  --title-14-px-semibold-font-weight: 600;
  --title-14-px-semibold-font-style: normal;
  --title-14-px-medium-font-family: Poppins-Medium, sans-serif;
  --title-14-px-medium-font-size: 14px;
  --title-14-px-medium-line-height: 21px;
  --title-14-px-medium-font-weight: 500;
  --title-14-px-medium-font-style: normal;
  --title-14-px-regular-font-family: Poppins-Regular, sans-serif;
  --title-14-px-regular-font-size: 14px;
  --title-14-px-regular-line-height: 21px;
  --title-14-px-regular-font-weight: 400;
  --title-14-px-regular-font-style: normal;
  --title-12-px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --title-12-px-semibold-font-size: 12px;
  --title-12-px-semibold-line-height: 18px;
  --title-12-px-semibold-font-weight: 600;
  --title-12-px-semibold-font-style: normal;
  --title-12-px-medium-font-family: Poppins-Medium, sans-serif;
  --title-12-px-medium-font-size: 12px;
  --title-12-px-medium-line-height: 18px;
  --title-12-px-medium-font-weight: 500;
  --title-12-px-medium-font-style: normal;
  --title-12-px-regular-font-family: Poppins-Regular, sans-serif;
  --title-12-px-regular-font-size: 12px;
  --title-12-px-regular-line-height: 18px;
  --title-12-px-regular-font-weight: 400;
  --title-12-px-regular-font-style: normal;

  /* Effects */
  --categogy-20-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
  --categogy-5-box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}
