.sign-up,
.sign-up * {
  box-sizing: border-box;
}
.sign-up {
  background: var(--bg, #ffffff);
  width: 1440px;
  height: 1400px;
  position: relative;
  overflow: hidden;
}
.top-header {
  background: var(--button, #000000);
  width: 1440px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.frame-746 {
  display: flex;
  flex-direction: row;
  gap: 231px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 136px;
  top: 12px;
}
.frame-555 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.summer-sale-for-all-swim-suits-and-free-express-delivery-off-50 {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-14-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-14-px-regular-font-size, 14px);
  line-height: var(--title-14-px-regular-line-height, 21px);
  font-weight: var(--title-14-px-regular-font-weight, 400);
  position: relative;
  width: 474px;
  height: 18px;
}
.shop-now {
  color: var(--text, #fafafa);
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: underline;
  position: relative;
}
.frame-549 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.english {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-14-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-14-px-regular-font-size, 14px);
  line-height: var(--title-14-px-regular-line-height, 21px);
  font-weight: var(--title-14-px-regular-font-weight, 400);
  position: relative;
}
.drop-down {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.header {
  display: flex;
  flex-direction: row;
  gap: 210px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 135px;
  top: 86px;
}
.frame-556 {
  display: flex;
  flex-direction: row;
  gap: 232px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 118px;
  height: 24px;
  position: relative;
}
.exclusive {
  color: var(--text-2, #000000);
  text-align: left;
  font-family: var(--heading-24-px-bold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-24-px-bold-font-size, 24px);
  line-height: var(--heading-24-px-bold-line-height, 24px);
  font-weight: var(--heading-24-px-bold-font-weight, 700);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.frame-554 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.header2 {
  flex-shrink: 0;
  width: 48px;
  height: 24px;
  position: relative;
}
.home {
  color: var(--text-2, #000000);
  text-align: center;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.header3 {
  flex-shrink: 0;
  width: 66px;
  height: 24px;
  position: relative;
}
.contact {
  color: var(--text-2, #000000);
  text-align: center;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.about {
  color: var(--text-2, #000000);
  text-align: center;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.header4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sign-up2 {
  color: var(--text-2, #000000);
  text-align: center;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.under-line {
  opacity: 0.5;
  flex-shrink: 0;
  width: 61px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-552 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.search-component-set {
  background: var(--secondary, #f5f5f5);
  border-radius: 4px;
  padding: 7px 12px 7px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-550 {
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.what-are-you-looking-for {
  color: var(--text-2, #000000);
  text-align: left;
  font-family: var(
    --title-12-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-12-px-regular-font-size, 12px);
  line-height: var(--title-12-px-regular-line-height, 18px);
  font-weight: var(--title-12-px-regular-font-weight, 400);
  opacity: 0.5;
  position: relative;
}
.component-2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.line-3 {
  width: 1440px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 140px;
  overflow: visible;
}
.frame-760 {
  display: flex;
  flex-direction: row;
  gap: 129px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
 
  left: 0px;
  top: 50px;
}
.side-image {
  background: #cbe4e8;
  border-radius: 0px 4px 4px 0px;
  flex-shrink: 0;
  width: 805px;
  height: 981px;
  position: relative;
  overflow: hidden;
}
.dl-beatsnoop-1 {
  width: 919px;
  height: 706px;
  position: absolute;
  left: -8px;
  top: 75px;
  object-fit: cover;
}
.frame-759 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-753 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.create-an-account {
  color: var(--text-2, #000000);
  text-align: left;
  font-family: var(
    --heading-36-px-medium-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--heading-36-px-medium-font-size, 36px);
  line-height: var(--heading-36-px-medium-line-height, 30px);
  font-weight: var(--heading-36-px-medium-font-weight, 500);
  position: relative;
}
.enter-your-details-below {
  color: var(--text-2, #000000);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.frame-758 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-757 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-754 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
 height: 32px;
 width: 370px;
}
.name {
  color: var(--text-2, #000000);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  opacity: 0.4000000059604645;
  position: relative;
}
#name1{
  height: 30px;
  width: 500px;
  padding: 10px;
}
.under-line2 {
  opacity: 0.5;
  flex-shrink: 0;
  width: 370px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-755 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
#email-or-phone-number1{
  height: 30px;
  width: 500px;
  padding: 10px;
}
.email-or-phone-number {
  color: var(--text-2, #000000);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  opacity: 0.4000000059604645;
  position: relative;
}
.under-line3 {
  opacity: 0.5;
  flex-shrink: 0;
  width: 370px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-756 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
#password1{
  height: 30px;
  width: 500px;
  padding: 10px;
}
.password {
  color: var(--text-2, #000000);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  opacity: 0.4000000059604645;
  position: relative;
}
.under-line4 {
  opacity: 0.5;
  flex-shrink: 0;
  width: 370px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-752 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button {
  background: var(--button-2, #db4444);
  border-radius: 4px;
  padding: 16px 122px 16px 122px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.view-all-products {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-16-px-medium-font-size, 16px);
  line-height: var(--title-16-px-medium-line-height, 24px);
  font-weight: var(--title-16-px-medium-font-weight, 500);
  position: relative;
}
.frame-751 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.google-s-ign-up {
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
  border-width: 1px;
  padding: 16px 86px 16px 86px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-748 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-google {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.sign-up-with-google {
  color: var(--text-2, #000000);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.frame-750 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.already-have-account {
  color: var(--text-2, #000000);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  opacity: 0.699999988079071;
  position: relative;
}
.frame-749 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.log-in {
  color: var(--text-2, #000000);
  text-align: left;
  font-family: var(
    --title-16-px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-16-px-medium-font-size, 16px);
  line-height: var(--title-16-px-medium-line-height, 24px);
  font-weight: var(--title-16-px-medium-font-weight, 500);
  opacity: 0.699999988079071;
  position: relative;
}
.under-line5 {
  opacity: 0.5;
  flex-shrink: 0;
  width: 47px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.footer {
  background: var(--button, #000000);
  width: 1440px;
  height: 440px;
  position: absolute;
  left: 0px;
  top: 1035px;
  overflow: hidden;
}
.frame-643 {
  opacity: 0.4000000059604645;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 376px;
}
.under-line6 {
  opacity: 0.5;
  flex-shrink: 0;
  width: 1440px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-67 {
  opacity: 0.6000000238418579;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-66 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-copyright {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  right: 8.33%;
  left: 8.33%;
  width: 83.33%;
  bottom: 8.33%;
  top: 8.33%;
  height: 83.33%;
  overflow: visible;
}
.copyright-rimel-2022-all-right-reserved {
  color: var(--primary, #ffffff);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.frame-743 {
  display: flex;
  flex-direction: row;
  gap: 87px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 135px;
  top: 80px;
}
.frame-717 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-716 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-715 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.exclusive2 {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(--heading-24-px-bold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-24-px-bold-font-size, 24px);
  line-height: var(--heading-24-px-bold-line-height, 24px);
  font-weight: var(--heading-24-px-bold-font-weight, 700);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.subscribe {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-20-px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-20-px-medium-font-size, 20px);
  line-height: var(--title-20-px-medium-line-height, 28px);
  font-weight: var(--title-20-px-medium-font-weight, 500);
  position: relative;
}
.get-10-off-your-first-order {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.send-mail {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--text, #fafafa);
  border-width: 1.5px;
  padding: 12px 0px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 217px;
  position: relative;
}
.enter-your-email {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  opacity: 0.4000000059604645;
  position: relative;
}
.icon-send {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-713 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.support {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-20-px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-20-px-medium-font-size, 20px);
  line-height: var(--title-20-px-medium-line-height, 28px);
  font-weight: var(--title-20-px-medium-font-weight, 500);
  position: relative;
}
.frame-712 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._111-bijoy-sarani-dhaka-dh-1515-bangladesh {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
  width: 175px;
}
.exclusive-gmail-com {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
._88015-88888-9999 {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.frame-711 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.account {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-20-px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-20-px-medium-font-size, 20px);
  line-height: var(--title-20-px-medium-line-height, 28px);
  font-weight: var(--title-20-px-medium-font-weight, 500);
  position: relative;
}
.frame-710 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.my-account {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.login-register {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.cart {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.wishlist {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.shop {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.frame-709 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.quick-link {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-20-px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-20-px-medium-font-size, 20px);
  line-height: var(--title-20-px-medium-line-height, 28px);
  font-weight: var(--title-20-px-medium-font-weight, 500);
  position: relative;
}
.frame-708 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.privacy-policy {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.terms-of-use {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.faq {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.contact2 {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-16-px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 24px);
  font-weight: var(--title-16-px-regular-font-weight, 400);
  position: relative;
}
.frame-742 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-721 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.download-app {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-20-px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-20-px-medium-font-size, 20px);
  line-height: var(--title-20-px-medium-line-height, 28px);
  font-weight: var(--title-20-px-medium-font-weight, 500);
  position: relative;
}
.frame-720 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.save-3-with-app-new-user-only {
  color: var(--text, #fafafa);
  text-align: left;
  font-family: var(
    --title-12-px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-12-px-medium-font-size, 12px);
  line-height: var(--title-12-px-medium-line-height, 18px);
  font-weight: var(--title-12-px-medium-font-weight, 500);
  opacity: 0.699999988079071;
  position: relative;
}
.frame-719 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.qr-code {
  background: #000000;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.qrcode-1 {
  border-style: solid;
  border-color: var(--primary, #ffffff);
  border-width: 2.5px;
  width: 76px;
  height: 76px;
  position: absolute;
  left: 2px;
  top: 2px;
  object-fit: cover;
}
.frame-718 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.google-play {
  flex-shrink: 0;
  width: 110px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.app-store {
  background: #000000;
  flex-shrink: 0;
  width: 110px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.download-appstore {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--primary, #ffffff);
  border-width: 0.6px;
  width: 104px;
  height: 34px;
  position: absolute;
  left: 3px;
  top: 3px;
  object-fit: cover;
}
.frame-741 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-facebook {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-twitter {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.group2 {
  height: auto;
  position: absolute;
  right: 8.09%;
  left: -20.83%;
  width: 112.75%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.icon-instagram {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.group3 {
  height: auto;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  width: 75%;
  bottom: 12.5%;
  top: 12.5%;
  height: 75%;
  overflow: visible;
}
.icon-linkedin {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
